
.panel-sharp {
  margin-top: .2rem;

  border: none;

  &>.panel-heading {
    padding: 10px 10px;

    background: #fff;
    //border-color: #e4e5e7;
    border: 1px solid #e4e5e7;
    border-bottom: none;
    border-radius: 2px;

    font-size: .13rem;
    font-weight: 600;
  }

  &>ul {
    position: relative;

    border: 1px solid #e4e5e7;
    border-radius: 2px;

    &>li.list-group-item {
      display: block;
      position: relative;

      margin-bottom: -1px;
      padding: 10px 15px;

      border: 1px solid #e4e5e7;

      &:first-of-type {
        border: none;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      &:last-of-type {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px
      }
    }
  }
}

.classification-item {
  &>.title {
    cursor: pointer;
  }

  &>div.menu {
    margin-top: .1rem;
    margin-bottom: 0;

    &>a.list-group-item {
      height: .3rem;

      padding-top: 0;
      padding-bottom: 0;

      font-size: .12rem;
      line-height: .3rem;

      cursor: pointer;
    }

    &>div.list-group-item {
      overflow-y: hidden;

      padding: .05rem .05rem 0 0;

      &>.content {
        display: inline;

        padding-left: .15rem;

        color: #555;
        font-size: .12rem;
      }
    }
  }
}