config.js
node_modules
bower_components

.idea
.tmp
.build

*.min.*.js
*.min.*.css

*.log

public/upload/*
public/styles
public/scripts
public/fonts
public/*.html

*.sublime-project
*.sublime-workspace
*.swp

npm-debug.log