
.footer-container {
  background-color: #242424;

  &>.title {
    background-color: #333333;

    ul {
      list-style: none;

      &>li {
        float: left;

        width: 2rem;
        height: .5rem;

        background-color: #005270;

        vertical-align: middle;
        line-height: .5rem;

        &:first-of-type {
          background-color: #0080b0;
        }
        
        &>a {
          color: #fff;
        }
      }
    }
  }

  footer {
    padding-top: .4rem;

    h1 {
      margin-bottom: .3rem;

      color: #c4c4c4;
      font-size: .2rem;
      font-weight: bold;
    }

    ul {
      list-style: none;

      padding: 0;

      &>li {
        margin-bottom: .15rem;

        &>a {
          color: #fff;
        }
      }
    }

    .footer-information {
      color: #fff;
      text-align: right;

      &>a.logo {
        display: block;

        margin-bottom: .2rem;
      }

      &>p>a {
        color: #fff;
      }
    }
  }
}